# dependencies
/node_modules

# next.js
/.next
/out

# production
/build

# local environment files
.env*
!.env.example

# testing
/coverage

# misc
.DS_Store
*.pem
*.log

# typescript
*.tsbuildinfo
next-env.d.ts
